@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-text{
    color: #7E1525;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7E1525;
}

@layer components {
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex place-items-center;
  }
  .container {
    @apply relative w-screen overflow-x-hidden px-8 pt-[56px] bg-red-700;
  }
}
@layer utilities {
  .heading-text{
    @apply text-xxxl text-cream-400 font-[900] pb-3; 
  }
  .heading2-text{
    @apply text-xxl text-red-600 font-[900] uppercase;
  }
  .text-balance {
    text-wrap: balance;
  }
}
